body {
    background-image: url(img/img.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.coin {
    padding-top: 10px;
    text-align: center;
}

img{
    border-radius: 100%;
}

img:active{
    box-shadow: 8px 8px 15px rgba(0, 0, 0, 0);
}

.image {
    box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.5);
}

h1{
    font-family: SansSerif;
    color: white;
    text-align: center;
    padding-top: 150px;
    pa
}